input[type= "button"]{
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

input[type= "button"]:hover{
    background-color: rgba(172, 255, 47, 0.479);
    cursor: pointer;
}

body{
    background-color: #f0e5ae91;
    
}

img{
    width: 150px;
    margin: 15px 0 0 -55px;
    transform: rotate(-90deg);
}

#calisma{
   width: 566px;  
    margin: 100px auto;
   
}


td{
    width: 65px;
    height: 60px;
}

#koltukNo{
    font-size: 20px;
}

.servis-kaborta{
    width: 557px;
    height: 255px;
    background: gainsboro;
    border-radius: 5px;
    /*border: 1px solid ;*/
    box-shadow: 1px 5px 20px #000000;
    
}

.servis{
    width: 500px;
    height: 300px;
    margin:  0 0 0 50px;

}

#rezerveEt{
    background-color: #ced6e0;
    width: 150px;
    height: 35px;
    transition: all 1s;
}
#rezerveEt:hover{
    transform: scale(1.15);
    background-color: #c8d8eebe;
    
}
